.table{
    border: 0.1em solid #e5e7eb;
   }
     .border-spacing-x-72{
         border: 1px none;
         width: 1000px;
         height: auto;
     }
     .tb{
         position: absolute;
         top: 100px;
         left: 400px;
     }
     .px-2{
         padding-left:5px;
         padding-right: 5px; 
         width: 150px;
         text-align: center;
     }
     th{
 
         color:black;
     }
     td{
         background: white;
         color:black;
     }
     .button {
   width: 50px;
   height: 50px;
   border-radius: 50%;
   background-color: white ;
   border: none;
   font-weight: 600;
   display: flex;
   align-items: center;
   justify-content: center;
   border: 1px solid  #e5e7eb;
   cursor: pointer;
   overflow: hidden;
   position: relative;
   margin:1em ;
 }
 .button:hover svg .fa-primary {
       fill: white; /* Đổi màu sắc fill của phần primary của SVG thành trắng */
     }
 
     .button1:hover svg .fa-secondary {
       fill: white; /* Đổi màu sắc fill của phần secondary của SVG thành trắng */
     }
 .svgIcon {
   width: 12px;
 
 }
 
 .svgIcon path {
   fill: black;
 }
 .button1:hover svg{
   fill: white;
 }
 .button:hover {
   border-radius: 50px;
   transition-duration: .3s;
   background-color: rgb(255, 69, 69);
   align-items: center;
 }
 .button1 {
   width: 50px;
   height: 50px;
   border-radius: 50%;
   background-color: white ;
   border: none;
   font-weight: 600;
   display: flex;
   align-items: center;
   justify-content: center;
   border: 1px solid  #e5e7eb;
   cursor: pointer;
   overflow: hidden;
   position: relative;
   margin: 1em;
 }
 .button1:hover {
   border-radius: 50px;
   transition-duration: .3s;
   background-color: rgb(69, 255, 85);
   align-items: center;
 
 }
 
 .di{
     display: flex;
     
 }
 .button-1{
     margin-bottom: 20px;
   display: flex;
   align-items: center;
   justify-content: space-between;
 }
 .button-3{
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   color: white;
   background: var(--gradient-2, linear-gradient(90deg, #2AF598 0%, #009EFD 100%));
   padding-left: 70px;
   padding-right: 70px;
   padding-top: 10px;
   padding-bottom: 10px;
   border: none;
   border-radius: 20px;
   position: relative;
   cursor: pointer;
   overflow: hidden;
   font-size: 15px;
   
 }
 
 .button-3 span:not(:nth-child(6)) {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   height: 15px;
   width: 50px;
   background-color: #0c66ed;
   border-radius: 50%;
   transition: .6s ease;
 }
 
 .button-3 span:nth-child(6) {
   position: relative;
 }
 
 .button-3 span:nth-child(1) {
   transform: translate(-3.3em, -4em);
 }
 
 .button-3 span:nth-child(2) {
   transform: translate(-6em, 1.3em);
 }
 
 .button-3 span:nth-child(3) {
   transform: translate(-.2em, 1.8em);
 }
 
 .button-3 span:nth-child(4) {
   transform: translate(3.5em, 1.4em);
 }
 
 .button-3 span:nth-child(5) {
   transform: translate(3.5em, -3.8em);
 }
 
 .button-3:hover span:not(:nth-child(6)) {
   transform: translate(-50%, -50%) scale(4);
   transition: 1.5s ease;
 }
 .searchBox {
   display: flex;
   max-width: 230px;
   align-items: center;
   justify-content: space-between;
   gap: 8px;
   border-radius: 50px;
   position: relative;
   border: 1px solid var(--gradient-2, linear-gradient(90deg, #2AF598 0%, #009EFD 100%));
 }
 
 .searchButton {
   color: white;
   position: absolute;
   right: 8px;
   width: 30px;
   height: 30px;
   border-radius: 50%;
   background: var(--gradient-2, linear-gradient(90deg, #2AF598 0%, #009EFD 100%));
   border: 0;
   display: inline-block;
   transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
 }
 /*hover effect*/
 button:hover {
   color: #fff;
   background-color: #1A1A1A;
   box-shadow: rgba(216, 213, 213, 0.5) 0 10px 20px;
   transform: translateY(-3px);
 }
 /*button pressing effect*/
 button:active {
   box-shadow: none;
   transform: translateY(0);
 }
 
 .searchInput {
 
   background: none;
   outline: none;
   background: none;
   color: black;
   font-size: 15px;
   padding-left: 20px;
   padding-right: 20px;
   padding-top: 10px;
   padding-bottom: 10px;
   outline: none;
 }
 .searchInput input:hover{
     border: none;
 }
 .mb-4{
     text-align: center
 }
 .ms-3{
    padding: 10px;

  }
  .h-full{
    margin-top:0px; 
  }
 
  .button4 {
  height: 50px;
  width: 200px;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  overflow: hidden;
  border-radius: 30px;
  color: #1a1818;
  transition: all 0.5s ease-in-out;
}

.btn-txtbt{
  z-index: 1;
  font-weight: 800;
  letter-spacing: 4px;
}

.type1::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s ease-in-out;
  background: var(--gradient-2, linear-gradient(90deg, #2AF598 0%, #009EFD 100%));
  border-radius: 30px;
  visibility: hidden;
  height: 10px;
  width: 10px;
  z-index: -1;
}

.button4:hover {
  color: white;
  border: none;
  background: black;
}

.type1:hover::after {
  visibility: visible;
  transform: scale(100) translateX(2px);
}


 