.mb-4-c {
    font-size: 15px !important;
    margin-bottom: 0;
   
}
.cta-button-sidebar1{
  display: flex;
}
/* Commodity.blade */
.card{
  margin: 5px;
}
.border1{
  border-bottom: 1px solid #dfdada; 
}
.fixed{
  margin-top: 65px;
}
.type1{
  margin-left: 20px;
}
.flex1{
  padding-bottom: 10px;
}
.fixed1{
  display: flex;
  flex-direction: column;
 
  align-items: flex-start;
  height: 20vh;
  position: absolute;
}
.flex2{
 width: 500px;
}
.h-screen-3{
  height: 80vh;
}
.rounded-lg1{
  position: absolute;
  left: 600px;
  top: 30px;
}
.card {
  width: 190px;
  background: white;
  padding: .4em;
  border-radius: 6px;
}

.card-image {
  background-color: rgb(236, 236, 236);
  width: 100%;
  height: 130px;
  border-radius: 6px 6px 0 0;
}

.card-image:hover {
  transform: scale(0.98);
}

.category {
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: 600;
  color: rgb(63, 121, 230);
  padding: 10px 7px 0;
}

.category:hover {
  cursor: pointer;
}

.heading {
  font-weight: 600;
  color: rgb(88, 87, 87);
  padding: 7px;
}

.heading:hover {
  cursor: pointer;
}

.author {
  color: gray;
  font-weight: 400;
  font-size: 11px;
  padding-top: 20px;
}

.name {
  font-weight: 600;
}

.name:hover {
  cursor: pointer;
}
.ht{
 padding-left:2vh ;
}
.boder{
  border: 1px solid rgb(192, 188, 188);
}
/* nhut mua */
.tx{
  text-align: center;
  font-weight: 500;
  font-size: 20px;
}
.di-colg{
  display: flex;
  justify-content:space-between;
}
